server:
  port: 8090

baseUrl: http://bank-service.apps-demo.svc.cluster.local:8990/bank/accounts/getAccountDetailsByNumber/8119008115

spring:
  application:
    name: customer-app

tracing:
  url: http://jaeger-production-collector.tracing-system.svc.cluster.local:4318/v1/traces

management:
  tracing:
    sampling:
      probability: 1.0

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"

